// 浅色主题（默认）
$base-menu-color: rgba(0, 0, 0, 0.70);
$base-menu-color-active: #409eff;
$base-menu-background: #ffffff;
$base-logo-title-color: #001529;
$base-sub-menu-background: #fafafa;
$base-sub-menu-hover: #f5f7fa;
$base-sidebar-width: 200px;
